<header class="site-header">
  <div class="site-header__wrapper">
    <div class="site-header__start">
      <a href="/" class="brand">MinecraftItemsIndex</a>
    </div>
    <div class="site-header__end">
      <nav class="nav">
        <div class="nav__toggle">
          <div id="hamburger" class="hamburger-icon-container" onclick="this.classList.toggle('hamburger-active')">
            <span class="hamburger-icon"></span>
          </div>
        </div>
        <ul class="nav__wrapper">
          <li class="nav__item"><a href="/items">Items</a></li>
          <li class="nav__item"><a href="/about">About</a></li>
        </ul>
      </nav>
      <div class="search">
        <form class="search__form" action="">
          <input type="search" id="search" placeholder="Search item by name or id..." autocomplete="off"/>
          <ul id="search_results">
          </ul>
        </form>        
        <button class="search__toggle">
          <img src="/img/search.svg" alt="search">
        </button>
      </div>
    </div>
  </div>
</header>