main {
    padding: 1rem;
    word-break: break-word;
}

#about_the_page {
    background-color: #dfdfdf82;
    border-radius: 1rem;
    padding: 1rem;
    margin-bottom: 1rem;
}

#credits_category {
    background-color: #dfdfdf82;
    border-radius: 1rem;
    padding: 1rem;
    margin-bottom: 1rem;
}

#github_link a {
    background-color: #dfdfdf82;
    border-radius: 1rem;
    padding: 1rem;
    width: fit-content;
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 600;
    transition: all 0.5s ease;
    text-decoration: none;
}

#github_link a img {
    object-fit: scale-down;
    height: 2rem;
    margin: 0.5rem;
}


main h1 {
    font-size: 2rem;
    font-weight: bold;
}

main h2 {
    font-size: 1.5rem;
    font-weight: bold;
}

main ul {
    list-style: circle;
    margin-left: 1rem;
}

main a:hover {
    text-decoration: underline;
}