*, *:before, *:after {
    box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
body {
    font-family: "Roboto", sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

/* Background */

body {
    background-image: url("../img/background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

/* Workaround for iOS (background) */

@media not all and (min-resolution:.001dpcm) {
    @supports (-webkit-appearance: none) {
        body::before {
            content: '';
            background-image: url("../img/background.jpg");
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            /* background-attachment: fixed; */
            /* This property does not work properly on iOS */
            height: 100vh;
            width: 100vw;
            z-index: -1;
            position: fixed;
        }
        body {
            background-image: none;
        }
    }
}

/* Search results */

.search__form {
    position: relative;
}

#search_results {
    position: absolute;
    background: white;
    width: 100%;
    border-radius: 0 0 0.5rem 0.5rem;
    padding: 0.5rem;
    padding-top: 0.3rem;
    visibility: hidden;
    max-height: 1000%;
    overflow-y: auto;
}

#search_results>li>a {
    display: flex;
    align-items: center;
}

#search_results>li>a>picture {
    min-width: 3rem;
    min-height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#search_results>li>a>picture>img {
    width: max-content;
}

#search_results>li>a>span {
    display: flex;
    flex-direction: column;
}

#search_results>li>a>span>div:nth-child(2) {
    font-size: 0.8em;
    color: grey;
    /* line-break: anywhere; */
    word-break: break-all;
}

#search_results>li>a>span>div:nth-child(2)>span {
    display: inline-block;
}

#search_results>li>a>span>div:nth-child(2)>:nth-child(2) {
    margin: 0 0.2rem;
}