body {
    /* background-image: url("../img/background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed; */
    font-family: Roboto;
}

/* Workaround for iOS (background) */
body::before {
    content: '';
    background-image: url("../img/background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* background-attachment: fixed; */ /* This property does not work properly on iOS */
    height: 100vh;
    width: 100vw;
    z-index: -1;
    position: fixed;
}

/* Search results */

.search__form {
    position: relative;
}

#search_results {
    position: absolute;
    background: white;
    width: 100%;
    border-radius: 0 0 0.5rem 0.5rem;
    padding: 0.5rem;
    padding-top: 0.3rem;
    visibility: hidden;
}

#search_results > li > a {
    display: flex;
}

#search_results > li > a > span {
    display: flex;
    flex-direction: column;
}