main {
    padding: 1rem;
}

main>* {
    margin-bottom: 1rem;
}

#randomItems {
    background-color: #dfdfdf82;
    border-radius: 1rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

#randomItemsList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

h2 {

    font-size: 3rem;
    font-weight: bold;
}

h1 {
    font-size: 2rem;
    font-weight: bold;
}

td {
    font-size: 1.5rem;
}


table {
    margin-top: 1rem;
}

.randomItem div:first-child {
    width: 10rem;
    height: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.randomItem>a {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#news {
    padding: 1rem;
    display: flex;
    background-color: #dfdfdf82;
    border-radius: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#news>* {
    flex-basis: 50%;
}

main a:hover {
    transform: scale(1.05);
}

.notificationBox {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ff4a4a;
    width: 100%;
    padding-block: 0;
    padding-inline: 1rem;
    text-align: center;
    border: none;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease;
    height: 0;
}

.notificationBox.active {
    visibility: visible;
    opacity: 1;
    height: initial;
    padding: 1rem;
    border-bottom: 0.01rem grey solid;
}

.notificationBox .closeButton {
    margin: 0.1rem;
    padding: 0.8rem;
    border: solid grey 0.01rem;
    background-color: rgba(0,0,0,0.15);
    border-radius: 100rem;
    width: 1rem;
    height: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.notificationBox .closeButton:hover {
  background-color: rgba(0,0,0,0.1);
  cursor: pointer;
}

.notificationBox .notificationContent {
    flex-grow: 2;
}