main {
    padding: 1rem;
}

main>* {
    margin-bottom: 1rem;
}

#randomItems {
    background-color: #dfdfdf82;
    border-radius: 1rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

#randomItemsList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

h2 {

    font-size: 3rem;
    font-weight: bold;
}

h1 {
    font-size: 2rem;
    font-weight: bold;
}

td {
    font-size: 1.5rem;
}


table {
    margin-top: 1rem;
}

.randomItem div:first-child {
    width: 10rem;
    height: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.randomItem>a {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#news {
    padding: 1rem;
    display: flex;
    background-color: #dfdfdf82;
    border-radius: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#news>* {
    flex-basis: 50%;
}

main a:hover {
    transform: scale(1.05);
}