:root {
    --black: #222222;
    --white: #f2f2f2;
    --grey: #dddddd;
    --lightblue: #add8e6;
    --darkgrey: #7b7b7b;

}

body {
    background: var(--white);
}

body:before { /* neccesarry to revoke iOS background workaround for this page */
    background: none;
}

main {
    margin: 1rem;
}

#heading,
#content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#heading {
    align-items: center;
}

#item-name {
    font-size: 5rem;
    word-break: break-word;
    color: var(--black);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#item-name::after {
    content: '';
    background-color: var(--black);
    height: 0.3rem;
    width: 100%;
    border-radius: 100rem;
    display: block;
    margin-top: 0.4rem;
    /* prevent glitches for letters like g */
}

#basic-item-data,
#image-wrapper {
    flex-basis: 25%;
    flex-shrink: 0;
    flex-grow: 2;
}

#item-name,
#main {
    flex-basis: 75%;
    flex-grow: 1;
}

#basic-item-data,
#image-wrapper,
#item-name,
#main {
    padding: 0 1rem;
    margin-bottom: 1rem;
}

#image-wrapper {
    display: flex;
    justify-content: center;
}

#image {
    --size: 15rem;
    height: var(--size);
    width: var(--size);
    background-color: var(--grey);
    border-radius: var(--size);
    padding: calc(var(--size)/5);
    display: flex;
    justify-content: center;
    align-items: center;
}

#image img {
    height: 100%;
    width: 100%;
    object-fit: scale-down;
}

#basic-item-data {
    min-width: 15em;
}

#basic-item-data>* {
    background: var(--grey);
    padding: 1rem;
    border-radius: 1rem;
    width: 100%;
}

#basic-item-data td:last-child {
    word-break: break-word;
    vertical-align: middle;
}

#basic-item-data td:first-child::after {
    content: ' ';
    white-space: pre;
}

#description {
    margin-bottom: 1rem;
}

#bars table {
    width: 100%;
    table-layout: fixed;
}

#bars thead {
    font-weight: 700;
    border-bottom: solid 0.1rem var(--darkgrey);
}

#bars td {
    padding: 0.2rem;
    vertical-align: middle;
}

/* BAR STYLES */

.bar_wrapper {
    width: 100%;
    height: 0.5rem;
    /* border: solid 0.05rem;
    padding: 0.1rem; */
    border-radius: 10rem;
    background: var(--grey);
    overflow: hidden;
}

.bar {
    width: 0%;
    height: 100%;
    /* cubic-bezier(0.18, 0.89, 0.32, 1.28) */
    margin: 0;
    padding: 0;
    border-radius: 10em;
}

.bar_inner {
    animation: bar 1s ease 0s both;
    background-color: var(--lightblue);
    height: 100%;
    margin: 0;
    padding: 0;
    border-radius: 10em;
}

@keyframes bar {
    from {
        width: 0
    }

    to {
        width: 100%
    }
}