main {
    padding-top: 0.5rem;
    background-color: #dfdfdf82;
    font-size: 1.5rem;
}

#items {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form {
    display: flex;
}

select {
    height: 1.5rem;
    background-color: transparent;
    border-color: black;
}

#items-main {
    margin: 1rem;
    padding: 1rem 2rem;
    border: 0.1rem black solid;
}

thead {
    font-weight: 700;
}

tbody {
    font-size: 1rem;
}

tr {
    border-bottom: 1px solid black;
}

tbody tr:last-child {
    border: none;
}

table tr td {
    vertical-align: middle;
    padding: 0.25rem;
    text-align: center;
}

table tbody tr td a {
    margin: auto 0;
}

table tr td:last-child {
    text-align: start;

}

table tbody tr td:last-child {
    word-break: break-word;
}

picture img {
    height: 2rem;
    width: 2rem;
    object-fit: contain;
}

.bold {
    font-weight: 700;
}