table {
    margin: 0 auto;
    background-color: rgba(240, 248, 255, 0.74);

}

table tbody tr td {
    vertical-align: middle;
    padding: 4px;
}

table tbody tr td a {
    margin: auto 0;
}

picture {
    height: 3rem;
    width: 3rem;
}

picture img {
    display: block;
    margin: auto;
}

tr td:first-child {
    font-size: 1.5rem;
}