<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Minecraft Item Index</title>
    <link rel="shortcut icon"
        href="img/icon.png"
        type="image/x-icon">
<link rel="stylesheet" href="css/style.css">
<link rel="stylesheet" href="css/nav.css">
<!-- <script src="js/loader.js"></script> -->
<script src="js/nav.js"></script>
</head>

<body>

    <div class="tab">
        <button class="tablinks" onclick="openCity(event, 'Home')" id="defaultOpen"> <img src="https://www.google.com/favicon.ico" alt=""> </button>
        <button class="tablinks" onclick="openCity(event, 'Items')">Items</button>
        <button class="tablinks" onclick="openCity(event, 'Search')">Search</button>
      </div>
  
      <!-- Tab content -->
      <div id="Home" class="tabcontent">
        <h3>Home</h3>
        <p>This is the Homepage.</p>
      </div>
  
      <div id="Items" class="tabcontent">
        <h3>Items</h3>
        <table>
          <tr> <td>A</td> <td><img src="https://www.google.com/favicon.ico" alt=""></td> <td>Item 1</td> </tr>
          <tr> <td> </td> <td><img src="https://www.google.com/favicon.ico" alt=""></td> <td>Item 2</td> </tr>
        </table>
      </div>
  
      <div id="Search" class="tabcontent">
        <h3>Search</h3>
        <p>Search for an Item.</p>
      </div>
  
      <script>
        // Get the element with id="defaultOpen" and click on it
        document.getElementById("defaultOpen").click();
      </script>

<% if (user) { %>
    <h2><%= user %></h2>
  <% } %>

</html>