<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MII - Items</title>
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <table>
    <tbody>
      <% var prevLetter = "";
      items.forEach((element) => { %>
      <tr>
        <% if (prevLetter != element.name[0]) {  %>
        <td>
          <%= element.name[0]; %>
        </td>
        <% }; var prevLetter = element.name[0]; %>
        <td><a href="/items/<%= element.url.split("/").at(-1).replace(" ", "-") %>"><img src="<%= element.image %>" alt="<%= element.numerical_id %>">
            <%= element.name %>
          </a>
        </td>
      </tr>
      <% }) %>
    </tbody>
  </table>

</body>

</html>