<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MII - Items</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <table>
        <tbody>
            <%let prevLetter = ""; 
            items.forEach(element=> { %>
                <tr>
                    <% if (prevLetter != element.name[0]) { let prevLetter = element.name[0] %>
                        <td>
                            <%= element.name[0] %>
                        </td>
                        <% } %>
                            <td><a href="/items/<%= element.url.split("/")[4] %>"><img src="<%= element.image %>"
                                        alt="<%= element.numerical_id %>">
                                    <%= element.name %>
                                </a>
                            </td>
                </tr>
                <% }) %>
        </tbody>
    </table>
    <ul>

    </ul>
</body>

</html>