<!DOCTYPE html>
<html lang="en">

<head>
  <%- include("../partials/head.html") %>
    <link rel="stylesheet" href="/css/index.css">
    <title>MII - Home</title>
</head>

<body>
  <%- include("../partials/nav.html") %>

    <main>
      <ul id="randomItems">
        <h2>Featured Items</h2>
        <% items.forEach(element=> { %>
          <li class="randomItem">
            <a href="/items/<%= element.simple_name %>">
              <div>
                <img src="<%= element.image %>" alt="">
              </div>
              <div>
                <%= element.name %>
              </div>
            </a>
          </li>
          <% }) %>

      </ul>
      <div id="news">
        <div id="mc_updates">
          Minecraft Updates
        </div>
        <div id="new_items">
          neue Items
        </div>
      </div>
    </main>
    <%- include("../partials/footer.html") %>

</html>