<!DOCTYPE html>
<html lang="en">

<head>
  <%- include("../partials/head.html") %>
  <link rel="stylesheet" href="/css/items.css">
  <title>MII - Items</title>
</head>

<body>
  <%- include("../partials/nav.html") %>
  <table>
    <tbody>
      <% var prevLetter = "";
      items.forEach((element) => { %>
      <tr>
        <td>
          <% if (prevLetter != element.name[0]) { %>
          <%= element.name[0]; %>
          <% }; prevLetter = element.name[0]; %>
        </td>
        <td>
          <a href="/items/<%= element.simple_name %>">
            <% if (element.image == "N/A") {
                element.image = "/img/barrier.png"              
            } %>
            <picture> <img src="<%= element.image %>">
            </picture>
          </a>
        </td>
        <td> <a href="/items/<%= element.simple_name %>">
            <%= element.name %></a></td>


      </tr>
      <% }) %>
    </tbody>
  </table>
</body>

</html>