<!DOCTYPE html>
<html lang="en">

<head>
  <%- include("../partials/head.html") %>
    <link rel="stylesheet" href="/css/items.css">
    <script src="/js/items.js"></script>
    <title>MII - Items</title>
</head>

<body>
  <%- include("../partials/nav.html") %>
    <main>
      <div id="items">
        <form action="submit">
          <label for="order">Sort by:&nbsp;</label>
          <select name="order" id="select_order">
            <% let selected={}; selected[order]='selected="selected"' ;%>
              <option <%=selected.alphabetic%> >alphabetic</option>
              <option <%=selected.numeric%> >numeric</option>
          </select>
        </form>
        <div id="items-main">
          <table>
            <thead>
              <tr>
                <% if (order=="alphabetic" ) {%>
                  <td>First letter</td>
                  <td></td>
                  <td>Name</td>
                  <% } else { %>
                    <td>ID</td>
                    <td>ID ext.</td>
                    <td></td>
                    <td>Name</td>
                    <% } %>
              </tr>
            </thead>
            <tbody>
              <% var prevLetter="" ; items.forEach((element)=> { %>
                <tr>
                  <% if (order=="alphabetic" ) {%>
                    <td>
                      <% if (prevLetter !=element.name[0]) { %>
                        <%= element.name[0]; %>
                          <% }; prevLetter=element.name[0]; %>
                    </td>
                    <% } else { let numerical_id=element.numerical_id.split(":");%>
                      <td>
                        <% if (prevLetter!=numerical_id[0]) { %>
                          <% if (numerical_id[0]=="N/A" ) { numerical_id[0]="" } %>
                            <%= numerical_id[0]; %>
                              <% }; prevLetter=numerical_id[0]; %>
                      </td>
                      <td>
                        <% if (numerical_id[1]) { var numerical_id_output=":" + numerical_id[1] } %>
                          <%= ( numerical_id_output || "" ) %>
                      </td>
                      <% } %>
                        <td>
                          <a href="/items/<%= element.simple_name %>">
                            <% if (element.image=="N/A" ) { element.image="/img/barrier.png" } %>
                              <picture>
                                <img src="<%= element.image %>">
                              </picture>
                          </a>
                        </td>
                        <td>
                          <a href="/items/<%= element.simple_name %>">
                            <%= element.name %>
                          </a>
                        </td>
                </tr>
                <% }) %>
            </tbody>
          </table>
        </div>

      </div>

    </main>
    <%- include("../partials/footer.html") %>

</body>

</html>