<!DOCTYPE html>
<html lang="en">

<head>
  <%- include("../partials/head.html") %>
  <title>MII - Items</title>
</head>

<body>
  <%- include("../partials/nav.html") %>
  <table>
    <tbody>
      <% var prevLetter = "";
      items.forEach((element) => { %>
      <tr>
        <td>
          <% if (prevLetter != element.name[0]) { %>
          <%= element.name[0]; %>
          <% }; prevLetter = element.name[0]; %>
        </td>
        <td>
          <a href="/items/<%= element.simple_name %>"><img src="<%= element.image %>" alt="<%= element.numerical_id %>">
            <%= element.name %>
          </a>
        </td>
      </tr>
      <% }) %>
    </tbody>
  </table>
</body>

</html>