<!DOCTYPE html>
<html lang="en">

<% function check(value) {
  return value || "–"
} %>  

<head>
  <%- include("../partials/head.html") %>
    <link rel="stylesheet" href="/css/item.css">
    <title><%= item.name %> - MII</title>
</head>

<body>
  <%- include("../partials/nav.html") %>

  <main>
    <div id="heading">
      <div id="image-wrapper">
          <% item.image != "N/A" ? item.image : item.image = "/img/barrier.png" %>
        <div id="image"><img src="<%= item.image %>" alt="<%= item.name %> "></div>
      </div>
      <div id="item-name">
        <%= item.name %>
      </div>
    </div>
    <div id="content">
      <div id="basic-item-data">
        <div class="basic-item-data__wrapper">
          <table>
            <tr>
              <td>ID:</td>
              <td>
                <%= check(item.properties.item_id) %>
              </td>
            </tr>
            <tr>
              <td>Numeric ID:</td>
              <td>
                <%= check(item.properties.numerical_id) %>
              </td>
            </tr>
            <tr>
              <td>Material:</td>
              <td><%= check(item.properties.material) %> </td>
            </tr>
            <tr>
              <td>Diggable:</td>
              <td><%= check(item.properties.diggable) %> </td>
            </tr>            
          </table>
        </div>
      </div>
      <div id="main">
        <div id="description">
          <%= item.description %>
        </div>
        <div id="bars">
          <table>
            <thead>
              <td>Property</td>
              <td>Bar</td>
              <td>Value</td>
            </thead>
            <tbody>
              <tr>
                <td>Hardness</td>
                <td>
                  <div class="bar_wrapper"> <!-- wrappes the hole bar -->
                    <div class="bar" style="width: <%= item.properties.hardness * 10 %>%"> <!-- declairs width of bar -->
                      <div class="bar_inner"></div> <!-- sets width with animation to 100% -->
                    </div>
                  </div>
                </td>
                <td>
                  <%= check(item.properties.hardness) %>
                </td>
              </tr>
              <tr>
                <td>Maximal stack size</td>
                <td>
                  <div class="bar_wrapper"> <!-- wrappes the hole bar -->
                    <div class="bar" style="width: <%= item.properties.max_stack_size * (100 / 64) %>%"> <!-- declairs width of bar -->
                      <div class="bar_inner"></div> <!-- sets width with animation to 100% -->
                    </div>
                  </div>
                </td>
                <td>
                  <%= check(item.properties.max_stack_size) %>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </main>

  <%- include("../partials/footer.html") %>

</body>

</html>